@font-face
{
   font-family: "Antonio";
   src: url(../fonts/antonio/Antonio-Regular.ttf) format("opentype");
}

@font-face
{
   font-family: "Antonio Bold";
   src: url(../fonts/antonio/Antonio-Bold.ttf) format("opentype");
}

@font-face
{
   font-family: "Roboto";
   src: url(../fonts/roboto/Roboto-Regular.ttf) format("opentype");
}

@font-face
{
   font-family: "Roboto Black";
   src: url(../fonts/roboto/Roboto-Black.ttf) format("opentype");
}

@font-face
{
   font-family: "Roboto Light";
   src: url(../fonts/roboto/Roboto-Light.ttf) format("opentype");
}

.page {
    position: relative;
    background-color: #051F32;
}

.principal-section {
    overflow: hidden!important;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    background-color: #051F32;
    display: none;
}

#cover {
    background-image: url(../images/fondo-portada.jpg);
    display: block;
}

#logo-main {
    width: 125px;
    height: 125px;
    background-image: url(../images/Escudo_SSKFC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 100px auto;
    cursor: pointer;
}

.nav-main {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(5, 31, 50, 0.6);
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
}

.principal-item {
    background-color: transparent!important;
}

li {
    list-style-type:none;
    position:relative;
    width: 250px!important;
    height: 80px!important;
    background-color: rgba(5, 31, 50, 0.6)!important;
}
                
li a{
    text-decoration:none;
    display:inline-block;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 125px;
    height: 30px;
    color:#fff;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
            
li a:hover{
    color:#FEC745;
    border-bottom: 2px solid #FEC745;
}
    
.nav-main li ul{
    display: none;
    position: absolute;
    top: 0px;
    left: 250px;
}
            
.nav-main li:hover ul{display:block;}

#content-cover {
    width: 80%;
    height: 700px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 150px;
    right: 0px;
}

#text-cover {
    width: 100%;
    height: 260px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../images/conocenos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 1;
    cursor: pointer;
}

#player {
    width: 413px;
    height: 100%;
    margin: auto;
    background-image: url(../images/player.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

#social {
    position: fixed;
    right: 50px;
    top: 100px;
    width: 40px;
    height: auto;
    z-index: 9999;
}

.social-item {
    width: 100%;
    height: 40px;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#origin {
    background-image: url(../images/fondo-origen.png);
}

.video-content {
    width: 600px;
    height: 780px;
    position: absolute!important;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.title-section {
    font-family: 'Antonio', sans-serif;
    font-size: 90px;
    letter-spacing: 14px;
    color: #FEC745;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 98%;
}

.video {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.line {
    border-bottom: 2px solid #fff;
}

.text-origin-content {
    width: 100%;
}

.txt-origin {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}

#start {
    background-image: url(../images/fondo-ini.jpg);
}

.start-content {
    width: 70%;
    height: 600px;
    position: absolute!important;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 80px;
    right: 0px;
}

#student .start-content {
    height: 640px;
}

.subtitle-section {
    width: 100%;
    font-family: 'Roboto Light', sans-serif;
    font-size: 35px;
    letter-spacing: 6px;
    color: #FEC745;
    margin-bottom: 20px;
    font-weight: 100;
}

.subtitle-section span {
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 10px;
}

.text-start-content {
    width: 50%;
    float: left;
}

.download-info {
    width: 50%;
    float: right;
    text-align: right;
}

.download-info img {
    position: relative;
    top: 8px;
    right: 8px;
}

.download-info a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.txt-ini {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #fff;
    margin-top: 50px;
    letter-spacing: 2px;
    width: 98%;
}

#select {
    background-image: url(../images/fondo-selec.jpg);
}

#student {
    background-image: url(../images/fondo-ex.jpg);
}

#galery {
    background-image: url(../images/fondo-portada.jpg);
}

.galery-content .start-content {
    height: 420px;
}

.item-galery {
    height: 100%;
    margin: 0px 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.item-galery img {
    width: 100%;
}

.content-competition {
    position: absolute;
    bottom: 10000px;
    width: 100%;
    height: 180px;
    background-color: rgba(5, 31, 50, 0.7);
    z-index: 9999;
    padding: 0px 10px;
}

.item-galery:hover .content-competition {
    bottom: 0px;
    transition-duration: 300ms;
}

.content-competition .title-section {
    font-size: 50px;
    letter-spacing: 10px;
}

.content-competition .txt-ini {
    margin-top: 15px;
}

.content-competition .line {
    width: 270px;
}

#disney-comp {
    height: 1350px;
    background-image: url(../images/fondo-portada.jpg);
}

#disney-comp .start-content {
    height: 100%!important;
    margin-top: 150px;
}

.date-galery {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

#disney-comp .start-content .txt-ini {
    float: left;
    text-align: justify;
}

#disney-comp .start-content .text-start-content {
    width: 60%;
}

#disney-comp .start-content .download-info {
    width: 40%;
}

.item-intern-galery {
    width: 23%;
    height: 180px;
    margin: 1%;
    float: left;
    position: relative;
}

.img-galery-h img {
    width: 100%;
    height: 100%;
}

.img-galery-v img {
    width: 120px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#english-comp {
    background-image: url(../images/fondo-portada.jpg);
}

#english-comp .start-content {
    height: 100%!important;
    margin-top: 150px;
}

#english-comp .start-content .txt-ini {
    float: left;
    text-align: justify;
}

#english-comp .start-content .text-start-content {
    width: 60%;
}

#english-comp .start-content .download-info {
    width: 40%;
}

#winner-comp {
    height: 2000px;
    background-image: url(../images/fondo-portada.jpg);
}

#winner-comp .start-content {
    height: 100%!important;
    margin-top: 150px;
}

#winner-comp .start-content .txt-ini {
    float: left;
    text-align: justify;
}

#winner-comp .start-content .text-start-content {
    width: 60%;
}

#winner-comp .start-content .download-info {
    width: 40%;
}

#winner-comp .start-content .text-start-content .title-section {
    font-size: 53px;
    letter-spacing: 11px;
}

#win {
    font-size: 40px;
    letter-spacing: 5px;
}

#contact {
    background-image: url(../images/fondo-portada.jpg);
}

#contact .start-content {
    height: 630px;
}

#content-form, #form-name, #msg-item {
    width: 100%;
    overflow: hidden;
}

.name-item {
    width: 48%;
    float: left;
}

.name-item:nth-child(1) {
    margin-right: 4%;
}

#mail-item {
    width: 100%;
    margin: 20px 0px;
}

#msg-item textarea {
    width: 100%;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none!important;
    margin-top: 25px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#button-send {
	width: 130px;
	height: 35px;
	text-align: center;
	background-color: #FEC745;
	color: #fff;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

label {
    color: #fff;
    font-size: 20px!important;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none!important;
    margin-top: 25px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#faq {
    background-image: url(../images/fondo-portada.jpg);
}

.faq-content {
    margin-left: 300px;
    margin-top: 100px;
}

.faq-content .text-start-content {
    width: 100%;
    float: none;
}

.faq-content .text-start-content .title-section {
    font-size: 60px;
    letter-spacing: 5px;
}

.faq-content .text-start-content .line {
    max-width: 700px;
}

#quest-content {
    width: 93%;
    margin-top: 50px;
}

.quest {
    font-size: 25px;
    color: #FEC745;
    margin: 10px 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.arrow-right {
    margin-left: 10px;
    background-image: url(../images/right.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 12px;
    display: inline-block;
    height: 12px;
}

.arrow-down {
    margin-left: 10px;
    background-image: url(../images/down.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12px;
    display: inline-block;
    height: 12px;
}

.answer {
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    display: none;
}

.more-info {
    font-family: 'Roboto Black', sans-serif;
    color: #FEC745;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 10px;
}

@media screen and (max-width: 1400px) {
    .start-content {
        left: auto;
        right: 110px;
    }

    .galery-content .start-content {
        height: 310px;
    }
}

@media screen and (max-width: 1200px) {
    .video-content {
        right: 110px;
        left: auto;
    }

    .subtitle-section {
        font-size: 25px;
    }

    .subtitle-section span {
        letter-spacing: 5px;
    }

    .title-section {
        font-size: 70px;
        letter-spacing: 10px;
    }

    .text-start-content {
        width: 60%;
    }

    .download-info {
        width: 40%;
    }

    .start-content {
        width: 64%;
    }

    .galery-content .start-content {
        height: 240px;
    }

    .content-competition .title-section {
        font-size: 28px;
        letter-spacing: 5px;
    }

    .content-competition .txt-ini {
        font-size: 14px;
    }
}

@media screen and (max-width: 1100px) {
    .title-section {
        font-size: 65px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .video-content {
        width: 380px;
    }

    .video {
        height: 400px;
    }

    .text-start-content {
        width: 100%;
        margin-bottom: 30px;
    }

    .start-content {
        width: 53%;
    }

    #student .start-content {
        height: 740px;
    }

    #galery .galery-content .start-content {
        width: 50%!important;
        height: 315px;
        margin-bottom: auto!important;
    }

    .slick-dots {
        display: none!important;
    }

    .date-galery {
        font-size: 18px;
    }

    .title-section {
        font-size: 55px;
        letter-spacing: 2px;
    }

    #disney-comp .start-content .text-start-content {
        width: 100%;
    }

    .item-intern-galery {
        width: 48%;
    }

    #disney-comp {
        height: 2100px;
    }

    #disney-comp .start-content {
        margin-top: 50px;
    }
}

@media screen and (max-width: 900px) {
    #content-cover {
        width: 95%;
        left: 0px;
    }
}